doctype html
html(lang="id" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1")
    meta(http-equiv="refresh" content=`0; url=${situs}`)
    link(rel="icon", sizes="any", href="favicon.svg")
    title Rizki Fauzan
  body
    h1 Mengalihkan...
    p.
      Karena suatu masalah teknis dalam GitLab maka halaman situs utama ini telah dipindahkan ke cabang #[a(href="https://gitlab.com/dpqb-web/dpqb-web") dpqb-web].
    p: a(href=situs) Jika halaman tidak teralihkan dengan sendirinya maka klik tautan ini.
    script window.location.href = "#{situs}"
